 <h2 class="page-header">Dashboard</h2>
<p>Bem vindo ao seu dashboard. Aqui você preencherá seus níveis de competência em cada uma das habilidades. Preencha com sinceridade pois os dados serão usados para garantir uma vaga para seu estágio, e não queremos decepcionar ninguém, não é mesmo?</p>  