 <h2 class="page-header">Dashboard</h2>
<p>Bem vindo ao seu dashboard. Aqui você preencherá seus níveis de competência em cada uma das habilidades. Preencha com sinceridade pois os dados serão usados para garantir uma vaga para seu estágio, e não queremos decepcionar ninguém, não é mesmo?</p>  

<form method="post" action="/save">
  <div class="form-group">
		<h2>Programação</h2>
    <label>HTML</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade1" placeholder="HTML">

    <label>CSS</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade2" placeholder="CSS">

    <label>JS</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade3" placeholder="JS">
  </div>

	<div class="form-group">
		<h2>Design</h2>
    <label>Adobe Illustrator</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade1" placeholder="Illustrator">

    <label>Adobe Photoshop</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade2" placeholder="Photoshop">

    <label>Princípios de Design</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade3" placeholder="Princípios de Design">
  </div>

	<div class="form-group">
		<h2>Banco de dados</h2>
    <label>Modelagem de dados</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade1" placeholder="Modelagem de dados">

    <label>PostgresQL</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade2" placeholder="PostgresQL">
  </div>

	<div class="form-group">
		<h2>Inglês</h2>
    <label>Ler</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade1" placeholder="HTML">

    <label>Escrever</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade2" placeholder="CSS">

    <label>Ouvir</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade3" placeholder="JS">

		<label>Falar</label>
    <input type="number" min="0" max="100" class="form-control" name="habilidade3" placeholder="JS">
  </div>
  <button type="submit" class="btn btn-default">Salvar</button>
</form>